@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    font-family: "Shantell Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    border: 0.4em, solid;
    border-radius: 0.6em;
    width: min(40em, 100%);
    height: min(22em, 55%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-align: end;
}

.area{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
}

#timezone{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(173, 181, 188);
}

.area button{
    background: none;
    border: none;
}

.area svg{
    cursor: pointer;
    transition: 200ms ease;
}

.area svg:hover{
    fill: black;
}

#time{
    font-size: 5rem;
    font-weight: 600;
    width: 6ch;
}

#date{
    font-size: 1rem;
    font-weight: 600;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

/**************************\
  Modal Styles
\**************************/

.modal {
  /* font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(236, 236, 236, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;

  border: 0.2em solid black;
}

.modal-header{
    text-align: start;
    font-weight: 600;
    margin-bottom: 0.5em;
}

#timezones{
    width: 20em;
    font-family: "Shantell Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.15em solid black;
    border-radius: 0.2em;
    /* font-weight: 600; */
    font-size: 0.8em;
}

.apply-btn{
    background: none;
    border: none;
    font-family: "Shantell Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0.5em;
    font-weight: 600;
    cursor: pointer;
}

.apply-btn:hover{
    scale: 1.05;
}

.get-tz-btn{
    display: block;
    /* background: none; */
    border: none;
    border-radius: 0.5em;
    font-family: "Shantell Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1em;
    padding: 0.5em;
    font-weight: 600;
    cursor: pointer;
    /* outline: solid; */
}

.get-tz-btn:hover{
    scale: 1.05;
}

/* .modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
} */

/* .modal__btn-primary {
  background-color: #00449e;
  color: #fff;
} */



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}